.footer {
  margin-top: 10px;
  height: 50px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
.footer .footer-theater {
  margin-bottom: 30px;
}
.footer .footer-theater ul {
  margin-top: 8px;
  padding: 0 10px;
  display: table;
  width: 100%;
  table-layout: fixed;
  box-sizing: border-box;
}
.footer .footer-theater ul a {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.footer .footer-info .row .col-md-2 a img {
  width: 100%;
}
.footer .footer-info .row .col-md-10 {
  font-size: 14px;
  line-height: 18px;
  color: #666;
}

.footer .footer-end {
  margin-top: 10px;
  background: url(../img/bg-bottom-footer.jpg) repeat-x scroll center bottom
    rgba(0, 0, 0, 0);
  height: 120px;
}

.footer .footer-theater-res {
  display: none;
}

@media screen and (max-width: 720px) {
  .footer .footer-theater-res {
    max-width: 100%;
    display: block;
    margin: auto;
    height: 30px;
  }

  .footer .footer-info {
    margin-top: 30px;
  }

  .footer .footer-theater {
    display: none;
  }

  .mySlides {
    display: none;
  }

  .fade {
    animation-name: fade;
    animation-duration: 3s;
  }

  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

  * {
    font-size: 11px;
  }

  .footer .footer-theater-res ul {
    margin-top: 10px;
    padding: 0 10px;
    display: table;
    width: 100%;
    table-layout: fixed;
    box-sizing: border-box;
  }
  .footer .footer-theater-res ul a {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
}
