.content {
  /* margin: 30px auto; */
  width: 100%;
}

.content .content-movie .content-movie-list {
  /* margin: 20px auto; */
}

.content .content-movie .content-movie-list .slider a img {
  width: 100%;
  /* padding: 2%; */
}

.content .content-event {
  margin-top: 20px;
}

.content .content-event .content-event-title {
  background: url(/img/h3_event.gif) no-repeat scroll center center / 130px 41px;
  text-indent: -99999px;
  height: 41px;
}

.content .content-event .content-event-title1 {
  background: url(/img/theater.jpg) no-repeat scroll center center / 230px 41px;
  text-indent: -99999px;
  height: 41px;
}

.content .content-event .content-event-list {
  /* padding: 30px 0; */
  border-bottom: 2px solid #000;
}

.content .content-event .content-event-list .row .banner a img {
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  outline-offset: 1px;
  outline: #000 solid 2px;
}

/* .content .content-movie .content-movie-list {
  margin: 20px auto;
} */

.content .content-movie .content-movie-list .slider a img {
  width: 100%;
  padding: 2%;
}

/*test----------------------------------------------------------------------------*/



.img-silder {
  width: 100%;
  height: 100%;
}

/* End SlideShow */

/* Content */
.content {
  margin: 30px auto;
}

.content .content-movie .content-movie-title h2 {
  background: url(../img/h3_movie_selection.png) no-repeat scroll center center / 406px 41px;
  text-indent: -99999px;
  height: 41px;
}

.content .content-movie .content-movie-list {
  margin: 20px auto;
}

.content .content-movie .content-movie-list .slider a img {
  width: 100%;
  padding: 2%;
}

.slick-prev:before {
  color: red;
}

.slick-next:before {
  color: red;
}

.content .content-event {
  margin-top: 20px;
}

.content .content-event .content-event-title {
  background: url(/img/h3_event.gif) no-repeat scroll center center / 130px 41px;
  text-indent: -99999px;
  height: 41px;
}



.content .content-event .content-event-list {
  padding: 30px 0;
  border-bottom: 2px solid #000;
}

.content .content-event .content-event-list .row .banner a img {
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  outline-offset: 1px;
  outline: #000 solid 2px;
}

/* End Content */

@media only screen and (max-width: 767px) {
  * {
    font-size: 15px;
  }


}

@media only screen and (max-width: 548px) {
  * {
    font-size: 15px;
  }
}

@media only screen and (max-width: 375px) {
  * {
    font-size: 10px;
  }
}