.content-membership {
  background-color: white;
  margin-bottom: 5%;
  box-shadow: 10px 10px 5px lightblue;
  border: black 1px solid;
  border-radius: 10px;
}

.btn,
.nav {
  color: dark rgb(255, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  /* background-color: silver; */
}

#myTab {
  margin-left: 0%;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #f54242;
  width: 100%;
}

.nav a {
  /* color: gray; */
  margin: 0;
  /* Xóa margin mặc định của body */
  display: flex;
  align-items: center;
  justify-content: center;
}

.lyt-heading {
  font-size: x-large;
  font-weight: bold;
  margin: 0;
  /* Xóa margin mặc định của body */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3%;
}

.nav-fill .nav-item,
.card button {
  background-color: #f54242;
}

.nav-fill .nav-item a,
.card button {
  color: #f7e62a;
}