.btn,
.nav {

    font-weight: bold;


}

.nav {
    margin-left: 0%;
    border-radius: 5px;
    box-sizing: border-box;
    /* background-color: silver; */
    width: 100%;

}

.nav a {
    color: gray;
    margin: 0;
    /* Xóa margin mặc định của body */
    display: flex;
    align-items: center;
    justify-content: center;
}

.lyt-heading {
    font-size: x-large;
    font-weight: bold;
    margin: 0;
    /* Xóa margin mặc định của body */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
}