.my-main-container {

    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-container {
    display: flex;
    width: 80%;

}

/* .nav-item a {
    background-color: lightgray;
    color: black;
} */

.nav-item a {
    margin-bottom: 2%;
}

.right-col {
    margin-left: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 5%; */
}

.my-footer {

    position: fixed;
    /* hoặc position: absolute; */
    bottom: 19%;
    width: 100%;
}

.nav-item button {
    width: 100%;
    margin-top: 2%;
    color: dimgray;
    background-color: lightgray;
    border: none;
}

.nav-link.active {
    background-color: red;
    color: white;

}