.my-main-container {

    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-container {
    display: flex;
    width: 80%;

}

/* .nav-item a {
    background-color: lightgray;
    color: black;
} */

.nav-item a {
    margin-bottom: 2%;
}

.nav-item {
    height: 5%;
}

.right-col {

    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 5%; */
}

.my-footer {

    position: fixed;
    /* hoặc position: absolute; */
    bottom: 19%;
    width: 100%;
}

.nav-item button {
    width: 100%;
    margin-top: 2%;
    color: dimgray;
    background-color: lightgray;
    border: none;
}

.nav-link.active {
    background-color: red;
    color: white;

}





/* body {
    font-family: Arial, sans-serif;
} */
.title-header-black {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 80%;

}
.title-header1 {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 80%;

}
.title-header,
.title-info {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 80%;
}

.info {
    margin: 20px;
}

.contact {
    margin: 20px;
}

.btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.title-header2 {
    width: 678px;
}

.info-center {
    justify-content: center;
    align-items: center;
    display: flex;
}

.btn:hover {
    background-color: #45a049;
}

@media (max-width: 600px) {


    .nav-item {
        width: 100%;
        /* Đặt độ rộng của nav-item là 100% khi ở màn hình nhỏ hơn 600px */
        text-align: center;
        /* Căn giữa nội dung của nav-item khi ở màn hình nhỏ hơn 600px */
    }
}

@media screen and (max-width: 700px) {
    .tab-content {
        font-size: 10px;
        max-width: 109%;
    }

    .title-header2 {
        width: 200px;
    }

    .title-header2 h1 {
        font-size: 1rem;
    }
}

.nav-link {
    border-radius: 0 !important;
    /* background: url(img/ribon_left-ccc.png) no-repeat scroll left 0 #e71a0f; */


    cursor: pointer;
}

.nav-link:active,
.nav-link.active {
    color: #fff;
    background-color: #007bff;
    background-color: RED !important;
    border-color: white;
    outline: none;
    /* background: url(img/ribon_left_menu.gif) no-repeat scroll left 0 #e71a0f; */


}

.head-left {
    color: red;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}


@media (max-width: 767px) {
    .nav-pills {
        position: relative;
    }

    .nav-pills .nav-link {
        padding: 10px;
        text-align: left;
        border: 1px solid #ddd;
        /* Viền cho từng mục trong dropdown */
    }

    .nav-pills .nav-item.dropdown:hover .dropdown-menu {
        display: block;
    }

    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 1000;
        background-color: #fff;
        /* Màu nền của dropdown */
    }

    .nav-item {
        font-size: 6px;
        width: 80px;
        margin-left: 0px;
    }

    .left-col,
    .my-main-container,
    .my-container {
        margin-left: 0;
    }

    .my-container {
        width: 100%;
    }

    .head-left {

        font-size: 9px;
    }

    #historyBooking th,
    #historyBooking td {
        font-size: 8px;
    }

    .title-info h3 {
        font-size: 15px;
    }

    .title-header1 h1,
    .title-header2 h1,
    .title-info h1 {
        font-size: 2em;
        /* Kích thước font mặc định */
    }

    @media screen and (max-width: 600px) {

        .title-header1 h1,
        .title-header2 h1,
        .title-info h1 {
            font-size: 1.5em;
            /* Kích thước font khi màn hình nhỏ hơn 600px */
        }

        .title-header2,
        .title-header1 {
            width: 100%;
        }
    }
}