.my-main-container {

    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-container {
    display: flex;
    width: 80%;

}

/* .nav-item a {
    background-color: lightgray;
    color: black;
} */

.nav-item a {
    margin-bottom: 2%;
}

.right-col {
    margin-left: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 5%; */
}

.my-footer {

    position: fixed;
    /* hoặc position: absolute; */
    bottom: 19%;
    width: 100%;
}

.nav-item button {
    width: 100%;
    margin-top: 2%;
    color: dimgray;
    background-color: lightgray;
    border: none;
}

.nav-link.active {
    background-color: red;
    color: white;

}





body {
    font-family: Arial, sans-serif;
}

.title-header {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 80%;
}
.info {
    margin: 20px;
}

.contact {
    margin: 20px;
}

.btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.info-center {
    justify-content: center;
    align-items: center;
    display: flex;
}

.btn:hover {
    background-color: #45a049;
}