<div class="header">
  <div class="main container">
    <a class="header-logo" href="index.php">
      <img src="../img/cgvlogo.png" alt="" />
    </a>
    <ul class="header-menu">
      <li>
        PHIM
        <div class="menu-ul">
          <ul>
            <li><a href="#">Phim Đang Chiếu</a></li>
            <li><a href="#">Phim Sắp Chiếu</a></li>
          </ul>
        </div>
      </li>
      <li>
        RẠP CGV
        <div class="menu-ul">
          <ul>
            <li><a href="#">Tất Cả Các Rạp</a></li>
            <li><a href="#">Rạp Đặc Biệt</a></li>
            <li><a href="#">Rạp 3D</a></li>
          </ul>
        </div>
      </li>
      <li>THÀNH VIÊN</li>
      <li>
        CULTUREPLEX
        <div class="menu-ul">
          <ul>
            <li><a href="#">CGV Rule</a></li>
          </ul>
        </div>
      </li>
      <li href="">
        <img src="../img/kenhcine.gif" alt="" />
      </li>
    </ul>
    <a class="header-buy" href="?controller=listmovies">
      <img src="../img/mua-ve_ngay.png" alt="" />
    </a>
  </div>
  <table>
    <tr>
      <td onclick="toggleList('menuList', this)">
        <img src="../img/menu-icon.png" alt="" />
      </td>
      <td><img src="../img/icon_ticket25.png" alt="" /></td>
      <td onclick="toggleList('userList', this)">
        <img src="../img/user-icon.png" alt="" />
      </td>
    </tr>
  </table>
  <ul class="ul-res" id="menuList">
    <li id="menuList">PHIM</li>
    <li id="menuList">RẠP CGV</li>
    <li id="menuList">THÀNH VIÊN</li>
    <li id="menuList">CULTUREPLEX</li>
  </ul>

  <ul class="ul-res" id="userList">
    <li id="menuList">TÀI KHOẢN</li>
    <li id="menuList">ĐĂNG KÝ</li>
    <li id="menuList">ĐĂNG NHẬP</li>
  </ul>
</div>
<!-- only for main screen -->
<div class="menu container">
  <ul>
    <a href="?controller=listTheater">
      <img src="../img/header-logo-1.png" alt="" />
    </a>
    <a href="?controller=listmovies">
      <img src="../img/header-logo-2.png" alt="" />
    </a>
    <a href="">
      <img src="../img/header-logo-3.png" alt="" />
    </a>
    <a href="">
      <img src="../img/header-logo-4.png" alt="" />
    </a>
    <a href="">
      <img src="../img/header-logo-5.png" alt="" />
    </a>
    <a href="?controller=listnews">
      <img src="../img/header-logo-6.png" alt="" />
    </a>
    <a href="">
      <img src="../img/header-logo-7.png" alt="" />
    </a>
  </ul>
  <hr class="hr-line" />
</div>
