<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/special_cinema.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="list-cinema container">
      <a href="#" onclick="changeImageColor(1, 'structure2')"
        ><img id="S" src="../img/cgv-cine-1.png" alt=""
      /></a>
      <a href="#" onclick="changeImageColor(2, 'structure2')"
        ><img id="img2" src="../img/cgv-cine-2.png" alt=""
      /></a>
      <a href="#" onclick="changeImageColor(3,'structure2')"
        ><img id="img3" src="../img/cgv-cine-3.png" alt=""
      /></a>
      <a href="#" onclick="changeImageColor(4, 'structure1')"
        ><img id="img4" src="../img/cgv-cine-4.png" alt=""
      /></a>
      <a href="#" onclick="changeImageColor(5, 'structure1')"
        ><img id="img5" src="../img/cgv-cine-5.png" alt=""
      /></a>
      <a href="#" onclick="changeImageColor(6,'structure2')"
        ><img id="img6" src="../img/cgv-cine-6.png" alt=""
      /></a>
      <a href="#" onclick="changeImageColor(7,'structure2')"
        ><img id="img7" src="../img/cgv-cine-7.png" alt=""
      /></a>
      <a href="#" onclick="changeImageColor(8,'structure2')"
        ><img id="img8" src="../img/cgv-cine-8.png" alt=""
      /></a>
      <a href="#" onclick="changeImageColor(9,'structure2')"
        ><img id="img9" src="../img/cgv-cine-9.png" alt=""
      /></a>
      <a href="#" onclick="changeImageColor(10,'structure2')"
        ><img id="img10" src="../img/cgv-cine-10.png" alt=""
      /></a>
      <a href="#" onclick="changeImageColor(11,'structure2')"
        ><img id="img11" src="../img/cgv-cine-11.png" alt=""
      /></a>
      <a href="#" onclick="changeImageColor(12,'structure2')"
        ><img id="img12" src="../img/cgv-cine-12.png" alt=""
      /></a>
    </div>
    <div id="imageStructure" class="image-structure"></div>

    <div id="textAndSlideStructure" class="text-and-slide-structure">
      <h2>Cấu trúc chữ và slide</h2>
      <!-- Thêm mã HTML cho cấu trúc chữ và slide tại đây -->
    </div>
  </body>
  <script type="text/javascript" src="../js/special_cinema.js"></script>
</html>
